*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type:none;
}
body{
    overflow-x: hidden;
}
.header{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
}
.header .header_left ul{
    margin-left: 40px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.header .header_left ul li{
    margin-left: 30px;
    height: 60px;
    line-height: 60px;
}
.header .header_left ul li a{
    color: white;
    font-size: 18px;
}
.header .header_left ul li a:hover{
    color: orange;
}


.header .header_center ul{
    margin-left: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.header .header_center ul li{
    margin-top: 18px;
    margin-left: 30px;
    height: 20px;
    width: 90px;
    text-align: center;
    line-height: 23px;
    background: url(images/1.png) no-repeat -230px -20px;
}
.header .header_center ul li a{
    color: white;
    font-size: 15px;
}
.header .header_center ul li a:hover{
    color: orange;
}

.header .header_right ul{
    margin-left: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.header .header_right ul li{
    margin-left: 30px;
    height: 60px;
    line-height: 60px;
}
.header .header_right ul li a{
    color: white;
    font-size: 18px;
}
.header .header_right ul li a:hover{
    color: orange;
}
.header .header_right ul li:nth-child(3){
    width: 200px;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-position: 10px 20px;
}
.header .header_right ul li:nth-child(3) input{
    margin-left: 5px;
    background: none;
    color: rgba(255, 255, 255, 0.603);
    border: 0;
    border:none;
    width: 120px;
    outline: none;
    box-shadow: none;

}
.body{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.body_left{
    margin-left: 250px;
    width: 500px;
    height: 700px;
    overflow: auto;
}
.body .body_left .body_left_head{
    text-align: center;
    font-size: 25px;
}
.body .body_left .body_left_infor{
    margin: 0 auto;
}
.body .body_left .body_left_infor ul{
    margin-top: 30px;
    margin-left: 70px;
    display: flex;
    text-align: center;
}
.body .body_left .body_left_infor ul li:nth-child(1){
    width: 120px;
    height: 50px;
    line-height: 50px;
}
.body .body_left .body_left_infor ul li:nth-child(2){
    width: 120px;
    height: 50px;
    line-height: 50px;
}
.body .body_left .body_left_infor ul li:nth-child(3){
    width: 60px;
    height: 50px;
    line-height: 50px;
}
.body .body_left .body_left_infor ul li:nth-child(4){
    background: url(images/comment.jpg) no-repeat center center;
    background-position: left;
    width: 60px;
    height: 50px;
    line-height: 50px;
}
.body .body_left .body_left_infor ul li a{
    color: orange;
}
.body .body_left .body_left_ori{
    width: 400px;
    margin-left: 50px;
    margin-top: -5px;
    text-align: center;
    font-size: 15px;
}
.body .body_left .body_left_content{
    border-top: 1px solid gray;
    text-align: center;
    margin-top: 30px;
    height: 450px;
    overflow-y:scroll;
}
.body .body_left .body_left_content p{
    text-align: center;
    margin-top: 5px;
    line-height: 30px;
}
.body .body_left .body_left_content p:nth-child(8){
    color: orange;
}
.body_right{
    width: 700px;
    height: 700px;
}
/* 设置滚动条样式 */
.body .body_left .body_left_content::-webkit-scrollbar {
    width: 6px;
}

.body .body_left .body_left_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

.body .body_left .body_left_content::-webkit-scrollbar-track {
    border-radius: 0;
    /* background: rgba(0, 0, 0, 0.027); */
}
.body_right .body_right_rol_bor{
    margin-left: 100px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body_right .body_right_rol{
    width: 290px;
    height: 290px;
    border-radius: 50%;
    background: url(images/sheep.jpg) no-repeat center center;
    background-size: 300px 300px;
    animation: animation1 6s linear 1s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes animation1 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.body_right .body_right_rol div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
}
.body_right .body_right_rol div div{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.856);
}
.body_right_music{
    margin-top: 40px;
    display: flex;
    justify-content: right;
    width: 100%;
    margin-left: 25px;
}
.body_right_music .play,
.body_right_music .zan{
	width: 40px;
	height: 40px;
	background: url(images/music.jpg);
}
.body_right_music .play {
	width: 40px;
	height: 40px;
	background-position: -110px -88px
}
.body_right_music .play:hover {
	background-position: -162px -88px;
}
.body_right_music .zan {
	width: 40px;
	height: 40px;
	background-position: -207px -88px
}
.body_right_music .zan:hover {
	background-position: -207px -136px
}
#wp_playBtn{
    min-width: 40px;
}
#wp_mute {
	position: relative;
	width: 20px;
	height: 16px;
	background: url(images/music.jpg) no-repeat -44px 0px;
	margin: 21px 22px 0 0;
	z-index: 13;
}
#wp_mute:hover {
	position: relative;
	width: 20px;
	height: 16px;
	background: url(images/music.jpg) no-repeat -69px 0px;
	margin: 21px 22px 0 0;
	z-index: 13;
}
.playerMid {
	width: 500px;
	height: 60px;
    margin-left: 15px;
    margin-top: 10px;
}
.playerMid #wp_bufBar {
	width: 0px;
	height: 4px;
	background: rgba(128, 128, 128, 0.459);
}
.playerMid #prograssBar {
	float: left;
	position: relative;
	width: 100%;
	height: 4px;
	background: rgba(128, 128, 128, 0.459);
	margin: 10px 10px 0 0;
	display: inline;
}
.playerMid .prograssBar {
	width: 0px;
	height: 4px;
	background: #ffcd2d;
}
.playerMid #wp_processBtn {
	width: 10px;
	height: 10px;
	background: url(images/music.jpg) -23px 0;
	position: absolute;
	top: -3px;
}
.playerRight {
	width: 480px;
	height: 60px;
    display: flex;
    justify-content: right;
    margin-left: 10px;
}
.playerRight #wp_playTime{
    margin-top: 15px;
    color: gray;
}
.playerRight #controllBtn{
    margin-left: 10px;
    margin-bottom: 25px;
}
.body_right_download{
    width: 250px;
    height: 100px;
    line-height: 80px;
    margin-left: 150px;
    background-image: url(images/music.jpg);
    background-repeat: no-repeat;
    background-position: 0px -68px;
    background-size: 340px 150px;
    display: flex;
    justify-content: center; 
}
.body_right_download div{
    margin-left: 15px;
    margin-top: 42px;
    width: 25px;
    height: 25px;
    background-image: url(images/music.jpg);
    background-repeat: no-repeat;
    background-position: 2px -3px;
    background-size: 335px 140px;
    
}
.body_right_download #download{
    align-self: center;
    background-color: transparent;
    border-style: none;
    width: 180px;
    height: 80px;
    color: black;
    font-size: 20px;
}
.dialog{
    width: 500px;
    height: 130px;
    display: flex;
    margin-top: 35px;
}
.dialog .dialog_guo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: url(images/guo.jpg) -45px -20px;
}
.dialog .dialog_content{
    width: 350px;
    height: 80px;
    background-image: url(images/showAdBg.jpg);
    background-repeat: no-repeat;
    background-size: 350px 80px;
    margin-left: 25px;
}
.dialog .dialog_content p:nth-child(1){
    color: gray;
}
.dialog .dialog_content a{
    margin-left: 120px;
    color: blueviolet;
}
.comment{
    width: 100%;
    border-top: 1px solid gray;
}
.comment .comment_top{
    margin-top: 15px;
    height: 50px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}
.comment .comment_top div:nth-child(1){
    padding-left: 15px;
    font-size: 25px;
}
.comment .comment_top div:nth-child(2){
    font-size: 8px;
    margin-left: 15px;
    color: gray;
}
.comment .comment_mid{
    border-top: 1px solid gray;
    width: 60%;
    margin: 0 auto;
    display: flex;
    height: 260px;
    margin-top: 10px;
}
.comment .comment_mid .comment_mid_left{
    margin-top: 20px;
    margin-left: 5px;
    height: 150px;
    width: 150px;
}
.comment .comment_mid .comment_mid_right{
    margin-top: 20px;
    margin-left: 15px;
    width: 650px;
    height: 200px;
    border-top: 1px solid gray;
    color: gray;
    resize: none;
    font-size: 17px;
    padding-left: 20px;
    padding-top: 20px;
}
.comment .comment_bottom{
    height: 19px;
    display:flex;
    justify-content: space-between;
    width: 670px;
    margin-left: 470px;
}
.comment .comment_bottom button{
    color: white;
    background: orange;
    height: 40px;
    width: 100px;
    font-size: 15px;
    border: none;
}

.show{
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
}
.show #show_span{
    width: 60%;
    font-size: 20px;
    margin-left: 10px;
    
}
.show .show_mid_background{
    margin-top: 15px;
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    
}
.show .show_mid{
    border-top: 1px solid gray;
    width: 100%;
    height: 450px;
    position:absolute;
    left: 0;
    top: 0;
}

.show .show_mid .show_mid_con{
    height: 150px;
    border-bottom: 1px dotted gray;
    width: 100%;
    display: flex;
}
.show .show_mid .show_mid_con img:nth-child(1){
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 5px;
}
.show .show_mid .show_mid_con div{
    width: 750px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.show .show_mid .show_mid_con div ul:nth-child(2){
    color: gray;
    text-align: right;
}
.show .show_mid .show_mid_con div ul:nth-child(2) li a{
    color: gray;
}
.show .show_mid .show_mid_con div ul li{
    line-height: 50px;
}
.show .show_mid .show_mid_con div ul:nth-child(1) li:nth-child(1) a{
    color: orange;
    font-size: 20px;
}
.show .show_mid .show_mid_con div ul:nth-child(1) li:nth-child(3){
    color: gray;
    font-size: 12px;
}
.show_bottom{
    margin:0 auto;
    display: flex;
    justify-content: center;
}
.box {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
}

.box li {
    display: inline;
    text-align: center;
}

.box a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: gray;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}

.box a .active {
    cursor: default;
    background-color: orange
}

.box a:active {
    outline: none;
}

.modal-4 a {
    margin: 05px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
    background-color: #eee;
}


.modal-4 a:hover {
    background-color: orange;
}

.modal-4 a:active {
    background-color: #FFA100;
}